<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1> YOU SHOULDN"T BE HERE IF UR NOT ME </h1>
  For now a placeholder till api statistics can come in or I find out what to Place here
</body>
</html>
