// Place all the styles related to the Agents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.agentfill {
  width:100%;
  height: 250px;
}
.agentborder {
  margin:10px;
  border: 2px solid grey;
  width: 250px;
  overflow:hidden;
  border-radius:10px;
  font-weight:bold;
}
