/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');
* {
  margin:0;
  font-family: Gelasio, sans-serif;
}
#title {
  margin-left:20px;
  padding:0px;
  font-size:50px;
  margin-bottom: 0px;
}
#hehe {
  font-size:10px;
}
span {
  margin:20px;
}
header {
  background-color:rgba(238, 106, 150, 0.83);
  color:white;
}
nav {
  padding:8px;
  text-align:right;
}
.header {
  text-decoration: none;
  color:white;
}
#welcome {
  font-size: 16px;
  display:inline;
}
