// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("hover-min.css");
.logo {
  width:20px;
  height:20px;
  margin:3px;
}
.content {
  margin-left:200px;
  margin-top:0px;
  margin-right:0px;
  width: 650px;
}
#details {
  margin: 20px;
  margin-top:0px;
  margin-left:150px;
  margin-right: 150px;

}
#agent {
  margin-left: 70px;
  margin-right:10px;
  margin-bottom: 30px;
  text-align:left;
  width:250px;
  vertical-align:top;
}
.prelude {
  width:100%;
  height:200px;
  overflow:hidden;
  transition-duration:1s;
}
.border {
  margin:10px;
  border: 2px solid grey;
  width: 300px;
  overflow:hidden;
  border-radius:10px;
  font-weight:bold;
}
.inline {
  display:inline-block;
}
.test {
  text-align:center;
}
.align-left{
  text-align: left;
  margin-top:3px;
  margin-left:1px;
  margin-right:1px;
}
.prelude:hover {
  transform: scale(1.1);
  transition-duration:2s;
}
.picture {
  width: 175px;
  height: 250px;
}
#Watchlist {
  width:100%;
}
#Width_manipulate {
  width: 500px;
  display:inline-block;
}
#WatchlistLook {
  float:right;
  text-decoration: none;
  color:white;
  background-color:rgba(238, 106, 150, 0.83);
  padding: 5px;
  vertical-align:top;
  font-size:20px;
  margin-left:10px;
}
#map {
  width: 100%;
  height: 400px;
}
.slideshow {
  position: relative;
  height: 410px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align:center;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.showing {
    opacity: 1;
    z-index: 2;
}
.next {
  position:absolute;
  top:50%;
  right:-15px;
  font-size:30px;
  opacity:1;
}
.prev {
  position:absolute;
  top:50%;
  left: -15px;
  font-size:30px;
  opacity:1;
}
#map {
  margin-top: 20px;
}
@keyframes movementprev {
  from {left:-15px;}
  to{left:-20px;}
}
// .prev:hover {
//   transform:scale(1.1)
// }
